

.hero-section-container {
    padding: 0px 20px;
        margin-top: 50px;

}

.hero-image {
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin-top: 10px;
}

.header-container {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 8px 20px;
    z-index: 10;
    background-color: white;
}

.input-div-container {
    border-radius: 20px;
    border: 2px solid rgb(217, 217, 217);
    padding: 5px 10px;
}
.nav-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
}
.header-input{
    outline: none;
    border:0;
    width: 100px;
    background-color: transparent;
}

.faq-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.faq-desc{
    width:400px;
}
.faq-whole-wrapper{
    padding: 75px;
}

  .accordion-button {
    display: flex;
    align-items: center;
  }

  .accordion-button::after {
    margin-left: 500px !important; 
  }
  .questions-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:1px solid rgb(170, 170, 170);
    padding:20px;
  }

  .faq-btn{
    background-color: #00B4D8;
    color:white;
    outline: none;
    border:0px;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
  }