

.hero-section-container {
    padding: 0px 20px;
    margin-top: 50px;

}

.hero-image {
    left: 0;
    height:500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin-top: 40px;
}

.logo-head{
    width:100px;
    z-index: 10;
}

.header-container {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 8px 20px;
    z-index: 20;
    background-color: white;
}

.input-div-container {
    border-radius: 20px;
    border: 2px solid rgb(217, 217, 217);
    padding: 5px 10px;
    background-color: #00B4D8;
    color:white;
}

::placeholder{
    color: white;
}
.nav-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
}
.header-input{
    outline: none;
    border:0;
    width: 100px;
    background-color: transparent;
}

.faq-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;

}
.faq-desc{
    width:400px;
}
.faq-whole-wrapper{
    padding: 75px;
}

  .accordion-button {
    display: flex;
    align-items: center;
  }

  .accordion-button::after {
    margin-left: 500px !important; 
  }
  .questions-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:1px solid rgb(170, 170, 170);
    padding:20px;
  }

  .faq-btn{
    background-color: #00B4D8;
    color:white;
    outline: none;
    border:0px;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  .trip-packages-img{
    width: 150px;
    height: 250px;
    border-radius: 80px;
  }

  .packages-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    font-weight: bold;
  }
  .packages-container{
    display: flex;
    padding: 40px;
    gap:50px;
    align-items: center;
    justify-content: center;
  }
  .trip-desc{
    color:rgb(129, 129, 129);
  }

  .trip-container{
    padding-left: 90px;
    margin-top: 30px;
  }
  .summer-img{
    width:600px;
    border-radius: 30px;
  }

  .season-text-card{
    position: absolute;
    top:10px;
    z-index: 2;
    color:black;
  -webkit-text-stroke: 0.5px rgb(152, 152, 152);
    
  }

  .season-images-div{
    position: relative;

  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.season-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.season-card {
    position: relative;
    height: 170px;
    border-radius: 22px;
    overflow: hidden;
}

.season-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box {
    position: absolute;
    bottom: 15px;
    left: 18px;
    color: white;
}

.text-box h2 {
    font-size: 26px;
    font-weight: bold;
}

.text-box p {
    margin-top: 3px;
    font-size: 14px;
    opacity: 0.8;
}