.hero-section-container {
    padding: 0px 20px;
        margin-top: 50px;

}

.hero-image {
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.header-container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
}